* {
  padding: 0;
  margin: 0;
}
/* Card */
.container-about {
  padding: 20px;
  align-content: center;
  text-align: center;
  width: 45%;
}

.container-about img {
  width: 70px;
  height: 70px;
}

.card-1-about,
.card-2-about {
  width: 17em;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  float: left;
}

.card-1-about {
  color: darkgoldenrod;
  border: solid darkgoldenrod;
  filter: saturate(0%);
  transition: all ease-in-out 0.5s;
}
.card-1-about:hover {
  filter: saturate(100%);
  scale: 1.1;
}
.card-2-about {
  color: darkgoldenrod;
  border: solid darkgoldenrod;
  filter: saturate(0%);
  transition: all ease-in-out 0.5s;
}
.card-2-about:hover {
  filter: saturate(100%);
  scale: 1.1;
}

.container-about-2 {
  width: 40em;
  height: 10em;
  margin: 20px;
}
/* paragraph */
.p-about {
  color: white;
}
.p-about button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: yellow;
  margin-top: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
.p-about button:hover {
  color: darkgoldenrod;
}
